
.vs/TestProjectSelenium/DesignTimeBuild/.dtbcache.v2
.vs/TestProjectSelenium/v17/.futdcache.v1
.vs/TestProjectSelenium/v17/.suo
.vs/TestProjectSelenium/v17/TestStore/OutputMessages/02bd9bc2-1a71-16d8-4901-eae17f346289/StandardOutput.txt
TestProjectSelenium/bin/Debug/net6.0/TestProjectSelenium.pdb
TestProjectSelenium/bin/Debug/net6.0/TestProjectSelenium.dll
TestProjectSelenium/bin/Debug/net6.0/nunit_random_seed.tmp
.vs/TestProjectSelenium/v17/.suo
.vs/TestProjectSelenium/DesignTimeBuild/.dtbcache.v2
TestProjectSelenium/obj/Debug/net6.0/ref/TestProjectSelenium.dll
TestProjectSelenium/obj/Debug/net6.0/refint/TestProjectSelenium.dll
TestProjectSelenium/obj/Debug/net6.0/TestProjectSelenium.csproj.CoreCompileInputs.cache
TestProjectSelenium/obj/Debug/net6.0/TestProjectSelenium.csproj.CoreCompileInputs.cache
TestProjectSelenium/obj/Debug/net6.0/TestProjectSelenium.dll
TestProjectSelenium/obj/Debug/net6.0/TestProjectSelenium.pdb
